
#main
  %h2 Listiglio Homepage
  %h4 Login or Register to save items/products to your wishlist from around the web

#add_url
  %h4 Add a url for an item manually
  = render :partial => 'shared/add_url'

